<h1>Home</h1>
<p>User Details</p>

<p>Name:  <%= current_user.username %></p>
<p>Email: <%= current_user.email %> </p>
<p>Division: <%= current_user.division %></p>
<p>Last Sign In: <%= current_user.last_sign_in_at %></p>
